{% extends "base.html" %}

{% block title %}Past Reads{% endblock %}

{% block content %}
<ul class="list-group">
    {% for blog_read in blogs_read %}
    <li class="list-group-item">
        <div class="list-group-item-heading">
            <span class="badge pull-right">{{ blog_read.created_date|date:"D d M y" }} {{ blog_read.created_date|time:"H:i" }}</span>
            <h4 class="">{{blog_read.title}}</h4>
        </div>
        <div class="list-group-item-text">
            <p>{{blog_read.url}}</p>
            <p>{{blog_read.data}}</p>
        </div>

    </li>
    {% endfor %}
</ul>

{% if blogs_read.has_other_pages %}
<ul class="pagination">
    {% if blogs_read.has_previous %}
    <li><a href="?page={{ blogs_read.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in blogs_read.paginator.page_range %}
    {% if blogs_read.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if blogs_read.has_next %}
    <li><a href="?page={{ blogs_read.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}